
:root {
  --blue: #81cad6;
  --yellow: #edcd44;
  --orange: #dc3e26;
}

* {
  box-sizing: border-box;
  ;
}

body  {
  
    width: 100%;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-variant-ligatures: normal;
    font-size: 2rem;
    letter-spacing: 1px;
   
  }

  div.navbarContainer{
    display: flex;
    background-color: var(--yellow);
    justify-content: flex-end;
  }
  
  .navbarContainer > ul {
    list-style-type: none;
    overflow: hidden;
     
  
   margin: 0;
   padding: 0;
    
  }
  
  ul > li {
    float: left;
    margin: 10px;
    padding: 10px;
  }
  
  ul > li > a {
    display: inline;
    text-decoration: none;
    text-align: center;
  
  padding: 30px 20px;
  }
  
  #logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  

  

  
    
  

