:root {
  --blue: #81cad6;
  --yellow: #edcd44;
  --orange: #dc3e26;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  font-weight: 100;
  font-variant-ligatures: normal;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--orange);
  font-weight: 800;
}

button,
button:hover {
  color: var(--orange);
  background-color: white;
  border: 2px solid var(--orange);
  font-weight: 800;
  border-radius: 15px;
  padding: .6rem;
  transition: 0.3s;
}

button:hover {
  color: white;
  background-color: var(--orange);
}

div.navbarContainer {
  display: flex;
  font-size: 24px;
  background-color: var(--yellow);
  justify-content: flex-end;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.navbarContainer>ul {
  review-.review-list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;

}

ul>li {
  float: left;
  margin: 10px;
  padding: 10px;
}

ul>li>a {
  display: inline;
  text-decoration: none;
  text-align: center;
  padding: 30px 20px;
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.form-filter-container {
  width: 100%;
  padding: 0 2.5rem;
  margin-top: 2rem;
}

.filter {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;

}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--orange);
  font-weight: 800;

}

.options {
  color: var(--orange);
  background-color: white;
  border: solid 1.5px var(--orange);
  font-weight: 800;
  border: 2px solid var(--orange);
  border-radius: 15px;
  padding: .5rem;
  width: 12rem;
}

.recipe-content {
  margin-top: 2rem;
  /* border: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
}

.each-recipe {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
  margin: auto 50px;
  border-radius: 1.25rem;
  transition: .5s;
}

.each-recipe:hover {
  scale: 1.05;
}

/* Show-page styling */
#profile-card {
  text-align: center;
}
#recipe-page-header{
  background-color: var(--blue);
}
#recipe-page{
  margin: 0 auto;
  text-align: center;
  width: 60%;
  font-size: 15px;
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-variant-ligatures: normal;
}
#page-ingredients > li{
  float: none;
  text-align: left;
}

#page-directions > li{
 
  float: none;
  text-align: left;
}

#review-block{
  text-align: center;
  background-color: var(--blue);
}

.review-list {
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;
  width: 100%;
  
}

.review-list th,
.review-list td {
  padding: 10px;
  max-width: 20%;
}

.review-list th {
  border-bottom: 3px solid #424748;
  font-weight: 700;
  font-size: 20px;
}
